@model Taller.Models.Novedades

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Novedades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <br />@Html.DropDownList("IdEmpleado", ViewBag.Empleados as SelectList)
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patente" class="control-label"></label>
                <br />@Html.DropDownList("Patente", ViewBag.Patentes as SelectList)
                <span asp-validation-for="Patente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control" asp-items="Html.GetEnumSelectList<Estado>()">
                    <option selected="selected" value="">Seleccione el estado:</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
