
#banner {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/05/05/d4/0505d4dd2bd4b59d405f79337da4d17d.jpg");
    background-size: auto;
    padding: 150px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

    #banner h1 {
        color: black;
        font-size: 50px;
    }

    #banner p {
        color: white;
        opacity: 0.8;
        font-size: 30px;
        font-weight: lighter;
    }
  