@{
    ViewData["Title"] = "HomeController Page";
}

<div class="text-center">
    <h1 class="display-4" style="text-shadow: 1px 1px 5px black"><b>Taller Mecánico</b></h1>
    <p><u>Arreglamos lo que sea</u></p>
</div>
